.SectionFive {
    h1 {
        font-size: 33.89pxs;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-top: 30px;

        .card {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid rgb(185, 185, 185);
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 70px;

            .img {
                height: 230px;
                width: 100%;


                img {
                    width: 100%;
                    height: 230px;
                    object-fit: cover;
                }
            }

            h2 {
                font-size: 22.5px;
                line-height: 36px;
                width: 90%;
                margin: 0 auto;
            }

            p {
                font-size: 14.63px;
                line-height: 24px;
                font-weight: 400;
                width: 90%;
                margin: 0 auto;
            }

            button {
                position: absolute;
                bottom: 10px;
                left: 5%;
                border: 0;
                background-color: transparent;
                font-size: 14.75px;
                font-weight: 700;
                text-align: left;

                i {
                    margin-left: 10px;
                    color: var(--main-color);
                    transition: .4s;
                    cursor: pointer;

                    &:hover {
                        opacity: .4;
                    }
                }
            }
        }
    }
}


@media (max-width: 1300px) {
    .SectionFive {


        .cards {

            h2 {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
            }
        }
    }
}

@media (max-width: 950px) {
    .SectionFive {

        .cards {

            h2 {
                font-size: 17px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 700px) {
    .SectionFive {
        .cards {
            grid-template-columns: 1fr !important;
            gap: 15px;

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 17px;
            }
        }
    }

}

@media (max-width: 450px) {
    .SectionFive {
        h1 {
            font-size: 19px;
        }

        .colomn {
            gap: 10px;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 13px;
                -webkit-line-clamp: 3;
            }
        }
    }
}