.SectionTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;

    .colomn {
        position: relative;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 50px;
        border: 1px solid gray;
        border-radius: 8px;
        overflow: hidden;

        .img {
            height: 200px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 200px;
            }



            .icon {
                position: absolute;
                background-color: white;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 20px;
                    color: var(--main-color);
                }
            }
        }

        h3 {
            font-size: 22.31px;
            font-weight: 700;
            line-height: 36px;
            width: 90%;
            margin: 0 auto;
        }

        p {
            font-size: 14.63px;
            line-height: 24px;
            width: 90%;
            margin: 0 auto;
        }

        button {
            position: absolute;
            left: 5%;
            bottom: 10px;
            border: 0;
            background-color: transparent;
            font-size: 14.75px;
            font-weight: 700;
            text-align: left;

            i {
                margin-left: 10px;
                color: var(--main-color);
                transition: .4s;
                cursor: pointer;

                &:hover {
                    opacity: .4;
                }
            }
        }


    }


}