.SectionTree {

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 34.31px;
            font-weight: 700;
        }

        h4 {
            font-size: 22.13px;
            font-weight: 700;

            i {
                margin-left: 25px;
                color: var(--main-color);
            }
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 50px 0;

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 70px;
            border: 1px solid gray;
            border-radius: 8px;
            overflow: hidden;

            .img {
                height: 240px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .details,
            h2 {
                width: 90%;
                margin: 0 auto;
            }

            .details {
                font-size: 16px;
                line-height: 21px;
                font-weight: 400;
            }

            h2 {
                font-size: 22.31px;
            }

            .details,
            h2 {
                width: 90%;
                margin: 0 auto;
            }


            button {
                position: absolute;
                left: 5%;
                bottom: 10px;
                border: 0;
                background-color: transparent;
                font-size: 14.75px;
                font-weight: 700;
                text-align: left;

                i {
                    margin-left: 10px;
                    color: var(--main-color);
                    transition: .4s;
                    cursor: pointer;

                    &:hover {
                        opacity: .4;
                    }
                }
            }
        }

    }
}