.SectionTree {

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 34.31px;
            font-weight: 700;
        }

        h4 {
            padding-right: 10px;
            font-size: 22.13px;
            font-weight: 700;

            i {
                margin-left: 25px;
                color: var(--main-color);
            }
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 50px 0;

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 70px;
            border: 1px solid gray;
            border-radius: 8px;
            overflow: hidden;
            transition: .2s ease-in-out;

            .img {
                height: 240px;
                overflow: hidden;

                img {
                    height: 240px;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .details,
            h2 {
                width: 90%;
                margin: 0 auto;
            }

            .details {
                font-size: 16px;
                line-height: 21px;
                font-weight: 400;
            }

            h2 {
                font-size: 22.31px;
            }

            .details,
            h2 {
                width: 90%;
                margin: 0 auto;
            }


            button {
                position: absolute;
                left: 5%;
                bottom: 10px;
                border: 0;
                background-color: transparent;
                font-size: 14.75px;
                font-weight: 700;
                text-align: left;

                i {
                    margin-left: 10px;
                    color: var(--main-color);
                    transition: .4s;
                    cursor: pointer;

                    &:hover {
                        opacity: .4;
                    }
                }
            }
        }

        .card.firstOne {
            right: 0;
            transition: .4 ease-out;
        }

        .card.secendOne {
            right: 70%;
            transition: .4 ease-out;
        }

        .card.thirdOne {
            right: 150%;
            transition: .4 ease-out;
        }

    }

    .btns {
        display: none;
        justify-content: space-between;
        align-items: center;

        padding: 0 10px;

        span {
            font-size: 20px;
        }

        div {
            display: flex;
            gap: 30px;

            button {
                background-color: transparent;
                border: 0;
                cursor: pointer;
                transition: .4s;

                i {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid var(--main-color);
                    border-radius: 50%;
                    color: var(--main-color);
                }

                &:hover {
                    opacity: .5;
                }

                &:disabled {
                    cursor: initial;

                    &:hover {
                        opacity: 1;
                    }

                    i {
                        border-color: rgb(53, 53, 53);
                        color: rgb(53, 53, 53);
                        opacity: .3;
                    }
                }


            }


        }
    }
}

@media (max-width: 1300px) {
    .SectionTree {

        .card {
            gap: 10px !important;

        }
    }
}

@media (max-width: 850px) {
    .SectionTree {
        h2 {
            font-size: 23px !important;
        }

        h4 {
            font-size: 15px !important;
        }
    }
}

@media (max-width: 700px) {
    .SectionTree {

        .cards {
            overflow: hidden;
            display: flex !important;

            .card {
                min-width: 80% !important;
                right: 0%;
            }
        }

        .btns {
            display: flex;
        }
    }
}

@media (max-width: 515px) {
    .SectionTree {
        .title {
            flex-direction: column;
            gap: 10px;

            h2 {
                font-size: 20px !important;
                width: 100%;
            }

            h4 {
                width: 100%;
                text-align: right;
            }
        }

        .btns {
            div {
                gap: 10px;
            }
        }
    }
}